.passwordcontainer{

    display: flex;
    justify-content: center;
    align-items: center;
    top:10%;
    height: 70vh;

  }

  .card{
    display: flex;
    justify-content: center;
    align-items: left;
    height:80vh;
    width : 60vw;
    margin-top: 20vh;
  }

  
  Label{
      text-align: left;
      padding: 2rem;
  }

  h1{
      margin-top: 1rem;
      text-indent: 10vh;
  }

  Button{
      align-items: center;
  }
 
  /* .bg-img{
    background: linear-gradient(rgba(71, 200, 223, 0.5), rgba(35,43,56,0.2)) , url('img2.webp');
    background-size: cover;
    
    
} */